<div
  class="calendar-tasks"
>
  <div class="container">
    <div class="row">
      <div class="form-group col">
        <div class="row">
          <label class="form-control-label col-12" for="input-task">Новая задача</label>
        </div>

        <div class="row">
          <input
            id="input-task"
            (keyup.enter)="addTask()"
            [(ngModel)]="taskName"
            type="text"
            class="form-control input col-12 col-sm"
            placeholder="Залить полный бак в авто"
          >
          <div class="section-add col-12 col-sm-auto">
            <button class="btn btn-sm btn-primary d-flex btn-add" (click)="addTask()">Добавить</button>
          </div>
        </div>
      </div>


    </div>
  </div>
  <hr>
  <ul class="tasks-list" *ngIf="tasks.length > 0; else noTasksBlock">
    <li *ngFor="let task of tasks">
      <div class="task-item d-flex justify-content-between align-items-center">
        <div>
          <input class="task-checkbox" type="checkbox" (click)="completeTask(task)" [checked]="task.complete">
          <span class="task-title" [class.strike]="task.complete">{{task.title}}</span>
        </div>
        <button class="btn btn-sm btn-primary d-flex btn-remove" (click)="removeTask(task)">Удалить</button>
      </div>
    </li>
  </ul>
  <ng-template #noTasksBlock>
    <p>Нет заданий на текущий день.</p>
  </ng-template>
</div>
